<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>@ViewData["Title"] - MyProject</title>

</head>
<body>
    <script src="~/vendor/axios.min.js"></script>
    @{
        bool isLoginPage = ViewData["IsLoginPage"] as bool? ?? false;
    }
    @if (isLoginPage)
    {
        <div id="login">
            @RenderBody()
        </div>
    }
    else
    {
        <div id="app" x-data="{siderStatus: true}" x-init="$store.user.fetchInfoUser()">
            <header class="header">
                <div class="header-left">
                    <div class="header-icon" x-on:click="siderStatus = !siderStatus">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="header-logo">
                        <img src="~/images/logo-purple.svg" alt="">
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-gadget gadget">
                        <div class="gadget-icon">
                            <i class="fa fa-dashboard"></i>
                        </div>
                        <div class="gadget-content">
                            <div class="gadget-title">0/40 hrs</div>
                            <div class="gadget-subtitle">This week</div>
                        </div>
                    </div>
                    <div class="header-gadget gadget">
                        <div class="gadget-icon">
                            <i class="fa fa-dashboard"></i>
                        </div>
                        <div class="gadget-content">
                            <div class="gadget-title">144/160 hrs</div>
                            <div class="gadget-subtitle">Last 4 weeks</div>
                        </div>
                    </div>
                    <form asp-action="Logout" asp-controller="Account" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-logout"><i class="fa fa-sign-out"></i> Logout</button>
                    </form>
                </div>
            </header>
            <main class="main">
                <div :class="`main-sider${siderStatus ? ' active' : ''}`">
                    <div class="sider-container">
                        <div class="sider-header">
                            <a href="/Account/Edit" class="avatar">
                                <img src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2022/9/24/1097116/Avatar.jpeg" alt="">
                            </a>
                            <div :class="`dropdown${open ? ' active': ''}`" x-data="{ open: false }" x-on:click="open = !open">
                                <div class="dropdown-select">
                                    <div class="dropdown-value" x-text="$store.user.info.fullName">
                                    </div>
                                    <div class="dropdown-icon">
                                        <i class="fa fa-caret-down"></i>
                                    </div>
                                </div>
                                <ul class="dropdown-list">
                                    <a href="/Account/Edit">
                                    <li class="dropdown-item">Profile</li>
                                    </a>
                                    <form asp-action="Logout" asp-controller="Account" method="post">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="dropdown-item">Logout</button>
                                    </form>
                                </ul>
                            </div>
                        </div>
                        <ul class="sider-main">
                            <template x-for="n in 1">
                                <a href="/Home/Index">
                                <li class="sider-item@(ViewBag.DashBoardId == 1 ? " active" : "")">
                                    <div class="sider-icon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <span class="sider-text">Log work</span>
                                </li>
                                </a>
                            </template>
                        </ul>
                        <ul class="sider-footer">
                            <li class="sider-item">
                                <div class="sider-icon">
                                    <i class="fa fa-cogs"></i>
                                </div>
                                <span class="sider-text">Setting</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main-body">
                    @RenderBody()
                </div>
            </main>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @await RenderSectionAsync("Scripts", required: false)
        </div>
    }
    <script defer src="~/vendor/alpine.min.js"></script>
</body>

</html>

